
$corBase1:#1e1e26;
$corFonteDefautl: #fff;
$bacgroundSubMenu:#282830;
$colorRed:#d72337;
$colorGreen:#82af69;
$colorPurple:#915faf;
$colorPink:#d241a5;
$colorOrange:#f59b37;
$colorDarkBlue:#286ed2;
$colorBabyBlue: #3bb4b4;

@mixin estiloCabecalhoPadrao($corPreto) {
  background-color: $corPreto;
  position: fixed;
}

.container {
  margin-left: 3%;
  margin-right: 3%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
}


/*MOBILE*/
.mobile {
  @include estiloCabecalhoPadrao($corBase1);
  padding: 12px 0px;
  width: 100%;


}

//Cabecalho

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1280px;
  color: $corFonteDefautl;
  position: relative;
  align-items: center;
  overflow: auto;

  nav,
  .site-branding,
  .pesquisa {
    width: 30%;
    height: auto;
  }

  .menu-desktop {
    display: none;
  }

  /*Menu*/
  nav {

    ul {
      display: none;
    }

    a {
      text-decoration: none;
      color: $corFonteDefautl;
    }

  }

  /*Logo*/

  .site-branding {
    width: 33%;
    max-width: 80px;
    height: 48px;


    .logo {
      background-image: url('../img/logo-jovemnerd.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
      margin: 0;

      a {
        color: transparent;
      }
    }

  }

  /*Pesquisa*/

  .pesquisa {
    text-align: right;

    button {
      position: relative;
      right: 13px;
      background-color: $corBase1;
      border: none;
    }

  }


}

.menu-active {
  nav.nav-mobile {
    background-color: $corBase1;
    color: $corFonteDefautl;
    position: fixed;
    width: 100%;
    z-index: 1111;
    top: 9%;
    right: 0;

    ul:not(.dropdown) {
      display: block;
      padding-bottom: 100%;

      li {
        border-bottom: 1px solid #282830;
        ;

        #aaa li {
          background-color: #282830;
          border-bottom: 1px solid #1e1e26;

        }

        a {
          color: $corFonteDefautl;
          text-decoration: none;
          display: block;
          padding: 12px 15px;

          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
        }
      }
    }


  }

}

/*Sub-menu*/
.sub-header {
  background-color: #14141c;
  width: 100%;
  position: fixed;
  height: 45px;
  z-index: 0;
  top: 72px;


  ul.list {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  li.nerd-bunker {
    background-image: url("../img/logo-nerdbunker.svg");
    background-repeat: no-repeat;
    display: inline;
    min-width: 120px;
    background-size: contain;
    margin: 1%;
    margin-left: 0%;

  }

  li.nerd-bunker a {
    color: transparent;
    display: block;
    height: 100%;
    margin-bottom: 0%;

  }

  li.nerd-bunker a i {
    color: #3bb4b4;
    position: absolute;
    top: 18px;
    left: 140px;
    transition: all 0.5s;
  }

  li.nerd-bunker a i.active {
    transform: rotate(180deg);
  }

  ul.submenu {
    display: none;
    background-color: $bacgroundSubMenu;
    width: 60%;
    position: fixed;
    left: 0%;
    border-radius: 0px 0px 6px 6px;
  }

  ul.submenu li {
    border-bottom: 1px solid #1e1e26;
  }

  ul.submenu a {
    color: white;
    text-decoration: none;
    padding: 17px 12px 17px 18px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  ul.submenu a::before {
    content: "";
    width: 6px;
    height: 22px;
    border-radius: 6px;
    display: inline-block;
    vertical-align: middle;
    background-color: #3bb4b4;
    margin-top: -3px;
    margin-right: 6px;
  }

  ul.submenu li.filmes a::before {
    background-color: $colorRed;
  }

  ul.submenu li.games a::before {
    background-color: $colorGreen;
  }

  ul.submenu li.series a::before {
    background-color: $colorPurple;
  }

  ul.submenu li.animes-mangas a::before {
    background-color: $colorPink;
  }

  ul.submenu li.hq-livros a::before {
    background-color: $colorOrange;
  }

  ul.submenu li.ciencia-tecnologia a::before {
    background-color: $colorDarkBlue;
  }

  .submenu {
    i {
      margin-left: 50px;
      margin-top: 5px;


    }

    .direto-bunker {
      i {
        color: $corFonteDefautl;
      }
    }

    .submenu-direto-bunker {
      display: none;

      a {
        background-color: $corBase1;
        border: none;
        border-bottom: 1px solid $bacgroundSubMenu;

      }

      a::before {
        display: none;
      }
    }
  }

  .blue {
    color: $colorBabyBlue !important;
    display: inline;
  }

  .menu-rolante {
    width: 195px;

    display: flex;
    align-items: center;
    overflow-x: scroll;

    a {
      text-align: center;
      width: max-content;
      display: block;
      text-decoration: none;
      color: $colorBabyBlue;

    }

    li {
      margin-right: 10%;

    }
  }

}

/*CORPO*/

div.corpo {
  margin-top: 72px;

  ul {
    display: none;

  }
}

/*Desktop*/
@media(min-width:1004px) {

  /*CABECALHO*/
  header.mobile {
    padding: 24px;

    .-open {
      display: none;

    }

    .wrapper .menu-desktop {
      display: grid;
      grid-template-columns: 56% 27% 10%;
      width: 100%;
      height: 33px;

      ul {
        display: block;
        position: relative;
        top: 7px;

        li {
          position: relative;
          display: inline-block;
          margin-left: 24px;

          a {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
          }
        }
      }

      form {
        width: 280px;
        height: 20px;
      }

      label {
        border: 1px solid $corFonteDefautl;
        border-radius: 25px;
        display: block;
        text-align: right;
        overflow: hidden;
        height: 32px;

      }

      #pesquisa {
        background-color: $corBase1;
        border: none;
        font-size: 16px;
        width: 160px;
        color: #b4b4b4;
        font-style: italic;

      }

      button[type="submit"] {
        height: inherit;
        padding: 3px 5px 4px;
        width: 100px;
        top: 1px;
        margin: 1px;
        border: none;
        border-radius: 25px;
        text-align: center;
        background-color: #3bb4b4;
        color: $corFonteDefautl;
        font-weight: bold;
        font-size: 16px;
      }

      .night-mode-trigger {
        background: transparent;
        border: none;
        color: #b4b4b4;
        font-weight: bold;
      }

      .exer {
        margin-top: 10px;
        position: relative;
      }

      span {
        font-size: none;
        display: block;
        width: 46px;
        float: right;
        text-align: left;
      }
    }

    .wrapper {
      height: 84px;
      margin: 0 auto;

      .site-branding {
        min-width: 140px;
        width: 140px;
        height: 84px;
        margin-left: 1%;
      }
    }

    .pesquisa {
      display: none;
    }
  }

  .sub-header {
    top: 125px;
    height: 12%;

    .nerd-bunker {
      background-size: auto;
      a i {
        top: 27px !important;
        left: 189px !important;
      }

      .submenu {
        width: 30%;
      }
    }
    .menu-rolante{
      overflow-x: none;
    }

  }

}